[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
black = "*"
autopep8 = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pyupgrade = "*"
autoflake = "*"

[packages]
discord = {extras = ["voice"], version = "*"}
aiohttp = "*"
psutil = "*"
yt-dlp = "*"
pynacl = "*"
aiosqlite = "*"

[requires]
python_version = "3.12"
