[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
autopep8 = "*"
pylint = "*"
flake8 = "*"
isort = "*"

[packages]
discord = {py = {extras = ["voice"], version = "*"}}
aiohttp = "*"
psutil = "*"
yt-dlp = "*"
pynacl = "*"

[requires]
python_version = "3.12"
